{% extends 'base.html' %}
{% block title %}Speedway{% endblock %}

{% block content %}
    <header>
        <h1>główna strona z drużynami (będzie odnośnik aby kliknąć i podpatrzeć drużyne w kolejnym sprincie, jednym
            słowem to co jest na fc)</h1>
    </header>
    <nav>
        <ul id="mainMenu">
            <li><a href="/leagues/">Ligi</a></li>
            <li><a href="/rankings/">Rankingi</a></li>
            <li><a href="/stats/">Statystyki</a></li>
        </ul>
    </nav>
{% endblock %}