{% extends 'base.html' %}
{% load static %}

{% block footer_scripts %}
    <link rel="stylesheet" href="{% static 'create_team.css' %}">
{% endblock footer_scripts %}

{% block title %}
    Stwórz drużynę
{% endblock %}



{% block content %}
    <div class="content-wrapper">
        <h3>Stwórz nową drużynę</h3>
        <br>
        <form method="post" action="/teams/new/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button name="zapisz" type="submit" class="btn btn-success"
                            style="background-color: #00bfbf; border-color: #00bfbf">Stwórz
                        drużynę
                    </button>
                </div>
                {{ form.name }}
            </div>
        </form>
    </div>
{% endblock %}