{% extends "base.html" %}
{% load static %}


{% block footer_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'join_to_league.css' %}">
{% endblock footer_scripts %}

{% block title %}
    Dołącz do ligi
{% endblock %}


{% block content %}
    <div class="join-leagues-wrapper">
    <div class="container">
        <p>Wpisz nazwę ligi aby wyszukać:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Szukaj...">
        <br>
        <ul class="list-group" id="myList">
            {% for league in all_leagues %}
                <li class="list-group-item"> {{ league.name }} </li>
            {% endfor %}
        </ul>
     </div>
     </div>


    <script>
        $(document).ready(function () {
            $('#myInput').val('');
            $("#myInput").on("keyup", function () {
                let value = $(this).val().toLowerCase();
                $("#myList li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


    <form method="post" action="/leagues/join/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form }}
            <div class="input-group-prepend">
                <button name="zapisz" type="submit" class="btn btn-success"
                        style="background-color: #00bfbf; border-color: #00bfbf">Dołącz do ligi
                </button>
            </div>

        </div>
    </form>




{% endblock %}