{% load static %}

{% block title %}
    Dołącz do ligi
{% endblock %}


{% block content %}
    {% for league in all_leagues %}
	    <p><a href="/{{league.id}}">{{league.name}}</a></p>
    {% endfor %}
    <form method="post" action="/join-to-league/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form }}
            <div class="input-group-prepend">
                <button name="zapisz" type="submit" class="btn btn-success"
                        style="background-color: #00bfbf; border-color: #00bfbf">Dołącz do ligi
                </button>
            </div>

        </div>
    </form>




{% endblock %}