{% extends 'base.html' %}
{% load static %}

{% block footer_scripts %}
    <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock footer_scripts %}


{% block title %}Wybierz zawodników{% endblock %}

{% block content %}
    <h2>{{ ls.name }}</h2>
    <h2>{{ ls.player1.first_name }}</h2>
    <img src="{% static 'photos/players/Adam_Ellis.jpg' %}"/>
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Zawodnik 1
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for item in query_results %}
                <a class="dropdown-item" href="#">{{ item }}</a>
            {% endfor %}
        </div>
    </div>

    <form method="post" , action="#">
        {% csrf_token %}

        {% for item in ls.item_set.all %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        {% if item.complete == True %}
                            <input type="checkbox" , value="clicked" , name="c{{ item.id }}" checked>
                            {& else %}
                            <input type="checkbox" , value="clicked" , name="c{{ item.id }}">
                        {% endif %}
                    </div>
                </div>
                <input type="text" , value="{{ item.text }}" class="form-control">
            </div>
        {% endfor %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" , name="newItem" , value="newItem" , class="btn btn-success">Dodaj zawodnika
                </button>
            </div>
            <input type="text" , name="new">
        </div>

        <button type="submit" , name="save" , value="save" , class="btn btn-success">Zapisz</button>
    </form>
{% endblock %}
