.login-wrapper {
    /* The image used */
    /* Used if the image is unavailable */
    /* Center the image */
    /* Do not repeat the image */
    background: #cccccc url('grand.jpg') no-repeat center;
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: auto;
}

.login-wrapper .login {
    display: flex;
    float: none;
}



