.icons {
    float: right;
}

.icons .icon {
    display: inline-block;
    margin: 5px;
}

.header-text{
     margin: auto;
}

.navigation ul {
    padding-left: 160px;
}

.active {
  color: #00bfbf;
}

header {
    padding: 20px 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 10px;
    background-color: #00bfbf;
    height: 60px;
    font-size: 20px;
    margin-top: auto;
    clear: both;
}

html, body{ height:100%; margin:0; }
body{
  display:flex;
  flex-direction:column;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    margin-right: 100px;
    padding: 0px 0px;
    background-color: white;
}

.hline-bottom {
    padding-bottom: 0px;
    border-bottom: 2px solid #00bfbf; /* whichever color you prefer */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.btn-info {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #00bfbf;
    border-color: #00bfbf;
}