<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% block footer_scripts %}
    {% endblock footer_scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <title>{% block title %}Speedway{% endblock %}</title>
</head>

<body>
<!-- Side navigation -->
<div class="sidenav">
    <a href="/view">Drużyny</a>
    <a href="/create">Stwórz drużynę</a>
    <a href="/my_leagues">Moje ligi</a>
    <a href="/join_to_league">Dołącz do ligi</a>
    <a href="/leagues">Stwórz ligę</a>
    <a href="{% url 'logout' %}">Wyloguj się</a>
</div>

<!-- Page content -->
<div class="main">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">Fantasy Speedway</h1>
            <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>