{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Tutaj opis gry w ramce zdjęcie w tle to jacyś żużlowce</h3>
    <a href="accounts/login" class="btn btn-default">Zaloguj się</a>
    <h3>   </h3>
    <a href="accounts/register" class="btn btn-default">Zarejestruj się</a>

</body>
</html>