{% extends 'base.html' %}
{% load static %}

{% block footer_scripts %}
    <style>
        .login-wrapper {
            background: #cccccc url('/static/grand.jpg') no-repeat center;
            background-size: cover;
            margin: auto;
            height: 600px;
            text-align: center;
            position: relative;
        }

        .login {
            display: flex;
            float: none;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock footer_scripts %}

{% block title %}Speedway{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login">
            <a href="accounts/login" class="btn btn-info">ZALOGUJ SIĘ</a><br>
            <a href="accounts/register" class="btn btn-info">ZAREJESTRUJ SIĘ</a>
        </div>
    </div>
{% endblock %}