.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown {
    padding-bottom: 20px;
    padding-top: 5px;
}

img {
    width: 20%;
    border-radius: 8px;
}

button {
   color: #00bfbf;
}

